.hero{
    .table_container{
        background-color: #fff;
        padding: 1rem;
        margin: 1rem;
        width: 100%;
        border-radius: 1rem;
    }

    .tss-1bk4gez-MUIDataTable-root{
        width: 100%;
    }
}